QWidget
{
	padding:0px;
	border:none;
}

QPushButton[Type='min']
{
	padding:6px;
	image:url(image/min.svg);
}

QPushButton[Type='max']
{
	padding:8px;
	image:url(image/max.svg);
}

QPushButton[Type='close']
{
	padding:6px;
	image:url(image/close.svg);
}

QPushButton:hover[IsClose='light']
{
	background-color:#eeeeee;
}

QPushButton:hover[IsClose='dark']
{
	background-color:#050505;
}

QPushButton:hover[IsClose='close']
{
	background-color:#fd0007;
}